<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add item</a>
    </div>
  </li>

  <div>
    {{#each gear as |item id|}}
    <li class="item" data-item-id="{{item._id}}">
      <div class="trait grid grid-2col">
        <div class="flexrow grid-span-2">
          <div class="trait-name togglable-description" data-target="display"> 
            <h4>{{item.name}}</h4>
          </div> 
          {{#if item.system.skill}}
          <div  class="background-black togglable-description">
            <span class="skill-text">Skill:{{item.system.skill}}</span>
          </div>
          <div  class="background-black togglable-description">
            <span class="skill-text">Range:{{item.system.range}}ft</span>
          </div>
          <div  class="background-black togglable-description">
            <span class="skill-text">Damage:{{item.system.damage}} {{item.system.damagetype}}</span>
          </div>
          {{/if}}
          {{#if item.system.hp}}
          <div  class="background-black togglable-description">
            <span class="skill-text">Armour HP:{{item.system.hp}}</span>
          </div>
          {{/if}}
          <div class="trait-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-chat" title="To Chat"><i class="far fa-comment-alt"></i></a>
          </div>
        </div>
        <div class="flexrow grid-span-2 description" style="display:{{item.system.display}};">
          <span>{{{item.system.description}}}</span>
        </div>
      </div>
    </li>
    {{/each}}
  </div>
</ol>