<div>
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="trait"><i class="fas fa-plus"></i> Add item</a>
    </div>
  </li>
  <div>
    {{#each traits as |trait id|}}
    <li class="item" data-item-id="{{trait._id}}">
      <div class="trait grid grid-2col">
        <div class="flexrow grid-span-2">
          <div class="trait-name togglable-description" data-target="display"> 
            <h4>{{trait.name}}</h4>
          </div> 
          <div class="trait-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-chat" title="To Chat"><i class="far fa-comment-alt"></i></a>
          </div>
        </div>
        <div class="flexrow grid-span-2 description" style="display:{{trait.system.display}};">
          <span>{{{trait.enrichDescription}}}</span>
        </div>
      </div>
    </li>
    {{/each}}
  </div>
</ol>
</div>