<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}actor
  <header class="sheet-header ">

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="header-fields grid grid-8col">

      <div class="grid-span-4 resource-content">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <label for="name" class="resource-label">Name</label>
      </div>

      <div class="grid-span-3 resource-content">
        <input name="system.attributes.archetype" type="text" value="{{system.attributes.archetype}}" placeholder="Archetype"/></h3>
        <label for="system.attributes.archetype" class="resource-label">Archetype</label>
      </div>

      <div class="resource">
        <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number"/>
        </div>
        <label for="system.attributes.level.value" class="resource-label">Level</label>
      </div>

      <div class="grid-span-4 resource-content">
        <input name="system.attributes.background" type="text" value="{{system.attributes.background}}" placeholder="Background"/>
        <label for="system.attributes.background" class="resource-label">Background</label>
      </div>
      
      <div class="grid-span-2 resource-content">
        <input name="system.attributes.gender" type="text" value="{{system.attributes.gender}}" placeholder="Gender"/>
        <label for="system.attributes.gender" class="resource-label">Gender</label>
      </div>

      <div class="resource-content">
        <input name="system.attributes.age" type="number" value="{{system.attributes.age}}" placeholder="20"/>
        <label for="system.attributes.age" class="resource-label">Age</label>
      </div>

      <div class="resource-content">
        <input name="system.attributes.luck.value" type="number" value="{{system.attributes.luck.value}}" placeholder="0"/></h3>
        <label for="system.attributes.luck.value" class="resource-label">Luck</label>
      </div>

      <div class="grid-span-8">
        <hr>
      </div>

      <div class="resource grid-span-3">
        <div class="resource-content">
          <input type="text" name="system.attributes.fear" value="{{system.attributes.fear}}" data-dtype="text"/>
          <label for="system.attributes.fear" class="resource-label">Fear</label>
        </div>
      </div>
  
      <!-- fear breakdown -->
      <div class="resource flex-group-center grid-span-4">
        <hr>
        <!--
        <input class="checkbox-fear" type="radio" id="stable" name="fear-level" value="0" data-status="stable" {{checked system.attributes.stable}}> -->
        <a class="checkbox-fear" title="stable" data-status="stable" data-target="system.attributes.fear-level.value">
        stable 
        <i class="{{system.attributes.fear-level.icon.stable}}" data-target="system.attributes['fear-level'].icon.stable"></i></a>
        <a class="checkbox-fear" title="afraid" data-status="afraid" data-target="system.attributes.fear-level.value">
          afraid 
        <i class="{{system.attributes.fear-level.icon.afraid}}" data-target="system.attributes['fear-level'].icon"></i></a>
        <a class="checkbox-fear" title="terrified" data-status="terrified" data-target="system.attributes.fear-level.value">
          terrified 
        <i class="{{system.attributes.fear-level.icon.terrified}}" data-target="system.attributes['fear-level'].icon.stable"></i></a>
      </div>
  
      <div>
        <input name="system.speed.value" type="Number" value="{{system.speed.value}}" placeholder="20"/></h3>
        <label for="Speed" class="resource-label">Speed</label>
      </div>

      <div class="grid-span-8 flex-group-center" >
        <hr>
      </div>

      <div class="grid-span-7 flex-group-center">
        {{#each system.attributes.lifeline as |check key|}}
        {{#if check}}
        <span><i class="far fa-times-circle"></i></span>
        {{/if}}
        {{#unless check}}
        <span><i class="far fa-circle"></i></span>
        {{/unless}}
        {{/each}}
      </div>

      <div class="resource">
        <input class="health" type="Number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" data-target="system.hp.value"/>
      </div>

      <div class="grid-span-7 flex-group-center lifeline-offset">
          <span class="label-black background-white align-center">WEAKENED</span> 
          <span class="label-white background-tan align-center">LIMPING</span> 
          <span class="label-white background-black align-center">TRAUMA</span>
          <span class="label-white background-red align-center">DEAD</span>
      </div>
      
      <div class="resource nopadding nomargin">
        <label for="system.hp.value" class="resource-label">Health</label>
      </div>

    </div>

  </header>
  
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs nopadding nomargin" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="traits">Traits</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Powers</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body"> 

    {{!-- Owned skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">

      <!-- Skills and Talents -->
      <div class="">
        <div class="">
          <div  class="sheet-skills">
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
              use both the "grid" and "grid-Ncol" class where "N" can be any number
              from 1 to 12 and will create that number of columns.  --}}

            <div class="">
              <div class="grid grid-7col flex-group-center">
                <div class="skill flex-group-center">
                  <div class="skill-label-offset"></div>
                  <div class="skill-label">skill</div>
                  <div class="skill-label">talent</div>
                </div>
                {{#each system.abilities as |ability key|}}
                <div class="skill flex-group-center">
                  <img class="skill-img rollable" src="{{ability.img}}" title="system.abilities.{{key}}.img" height="50" width="50" 
                    data-skillRoll="{{key}}" 
                    data-skilldice="{{ability.skill.value}}" 
                    data-talentdice="{{ability.talent.value}}"/> 
                  <span class="skill-text">{{key}}</span>
                  <div class="header-fields grid grid-2col">
                    <input class="skill-text text-grey" type="text" name="system.abilities.{{key}}.skill.reference" value="{{ability.skill.reference}}" data-dtype="Number"/> 
                    <input class="skill-text" type="text" name="system.abilities.{{key}}.skill.value" value="{{ability.skill.value}}" data-dtype="Number"/> 
                  </div>
                  <div class="grid grid-2col">
                    <input class="skill-text text-grey" type="text" name="system.abilities.{{key}}.talent.reference" value="{{ability.talent.reference}}" data-dtype="Number"/>
                    <input class="skill-text" type="text" name="system.abilities.{{key}}.talent.value" value="{{ability.talent.value}}" data-dtype="Number"/>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>

         </div>
        </div>
      </div>
      <div class="sheet-skills">
       <img class="logo-img flex-group-center" src="systems/shiver/assets/sheet-elements/COMPATIBLE_WITH_SHIVER-03.png" title="shiver logo" height="135" width="520"/> 
      </div>
      <section class="grid grid-col">
        <aside class="sidebar">
        </aside>
        <!--
        {{!-- For the main skills list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/shiver/templates/actor/parts/actor-skills.html"}}
        </section>
      -->
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/shiver/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/shiver/templates/actor/parts/actor-powers.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/shiver/templates/actor/parts/actor-effects.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab traits flexcol" data-group="primary" data-tab="traits">
      {{> "systems/shiver/templates/actor/parts/actor-traits.html"}}
    </div>

  </section>
</form>

