<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  
  {{!-- Sheet Header --}}
  <header class="sheet-header ">

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="header-fields grid grid-8col">

      <div class="grid-span-4 resource-content">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <label for="name" class="resource-label">Name</label>
      </div>

      <div class="grid-span-3 resource-content">
        <input name="system.type" type="text" value="{{system.type}}" placeholder="Type"/></h3>
        <label for="system.type" class="resource-label">Type</label>
      </div>

      <div class="resource">
        <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.cr" value="{{system.cr}}" data-dtype="Number"/>
        </div>
        <label for="system.cr" class="resource-label">CR</label>
      </div>

      <div class="grid-span-4 resource-content">
        <input name="system.reaction" type="text" value="{{system.reaction}}" placeholder="Reaction"/>
        <label for="system.reaction" class="resource-label">Reaction</label>
      </div>
      
      <div class="grid-span-3 resource-content">
        <input name="system.rating.name" type="text" value="{{system.rating.name}}" placeholder="Amber"/>
        <label for="system.rating.name" class="resource-label">Deathcon Rating</label>
      </div>

      <div>
        <input name="system.speed.value" type="Number" value="{{system.speed.value}}" placeholder="20"/></h3>
        <label for="Speed" class="resource-label">Speed</label>
      </div>

      <div class="resource grid-span-4">
        <div class="resource-content">
          <input type="text" name="system.size" value="{{system.size}}" data-dtype="text" placeholder="Humanoid"/>
          <label for="system.size" class="resource-label">Size</label>
        </div>
      </div>

      <div class="resource grid-span-2">
        <input class="health" type="Number" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number" data-target="system.hp.max"/>
        <label for="system.hp.max" class="resource-label">HP Max</label>
      </div>
      
      <div class="resource grid-span-2">
        <input class="health" type="Number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" data-target="system.hp.value"/>
        <label for="system.hp.value" class="resource-label">HP</label>
      </div>

      <div  class="resource grid-span-8"><hr></div>
      <div class="resource grid-span-8">
        <input type="text" name="system.immunity" value="{{system.immunity}}" data-dtype="String" data-target="system.immunity"/>
        <label for="system.immunity" class="resource-label">Immunity</label>
      </div>
      <div class="resource grid-span-8">
        <input type="text" name="system.resistance" value="{{system.resistance}}" data-dtype="String" data-target="system.resistance"/>
        <label for="system.resistance" class="resource-label">Resistance</label>
      </div>
      <div class="resource grid-span-8">
        <input type="text" name="system.weakness" value="{{system.weakness}}" data-dtype="String" data-target="system.weakness"/>
        <label for="system.weakness" class="resource-label">Weakness</label>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="attacks">Attacks</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">

      <!-- Skills and Talents -->
      <div class="">
        <div class="">
          <div  class="sheet-skills">
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
              use both the "grid" and "grid-Ncol" class where "N" can be any number
              from 1 to 12 and will create that number of columns.  --}}

            <div class="">
              <div class="grid grid-6col flex-group-center">
                {{#each system.skills as |skill key|}}
                <div class="skill flex-group-center">
                  <img class="skill-img rollable" src="{{skill.img}}" title="system.skills.{{key}}.img" height="50" width="50" 
                    data-skillRoll="{{key}}" 
                    data-skilldice="{{skill.value}}" 
                    data-talentdice="0"/> 
                  <span class="skill-text">{{key}}</span>
                  <hr>
                  <div class="header-fields">
                    <input class="skill-text" type="text" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/> 
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
         </div>
        </div>
      </div>
      
      <span>DESCRIPTION</span>
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab abilities" data-group="primary" data-tab="abilities">
       {{> "systems/shiver/templates/actor/parts/actor-traits.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab attacks" data-group="primary" data-tab="attacks">
       {{> "systems/shiver/templates/actor/parts/actor-attacks.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/shiver/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

