.item-form {
  font-family: $font-primary;
}

.window-content {
  background: $c-lightgray;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0px;

  .profile-img {
    flex: 0 0 150px;
    height: 150px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

nav.tabs {
  border-bottom: 2px solid $c-black;
  border-top: 3px solid $c-black;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.small-tab {
  height: 50%;
}

.sheet-lifeline {
  width: 380px;
}

.sheet-skills {
  width: 480px;
  margin: auto;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.lifeline {
 width: 360px;
 height: 15px;
}

.lifeline-label {
  width: 50px;
  padding: 0px;
  margin: 0px;
}

.lifeline-white {
  height: 50px;
  width : 100px;
  margin : 0px;
  padding : 0px; 
  background : $c-white;
}

.lifeline-grey {
  height: 50px;
  width : 100px;
  margin : 0px;
  padding: 0px;
  background : rgb(88, 88, 88);
}


.lifeline-darkgrey {
  height: 50px;
  width : 100px;
  margin : 0px;
  padding : 0px;
  background : rgb(46, 46, 46);
}

.lifeline-black {
  height: 50px;
  width : 100px;
  margin : 0px;
  padding : 0px;
  background : black;
}

.label-white {
  font-size: 90%;
  font-weight: bold;
  color: $c-white;
  display: inline-block;
  width: 67px;
  margin-top: 0px;
}

.label-black {
  font-size: 90%;
  font-weight: bold;
  color: $c-black;
  display: inline-block;
  width: 67px;
  margin-top: 0px;
}

.skill-text {
  color: $c-white;
  font-size: 70%;
  text-transform: uppercase;
}

.background-black {
  background: $c-black;
}

.background-tan {
  background: $c-tan;
}

.background-white {
  background: $c-white;
}

.background-red {
  background: $c-blood;
}


.checkbox-hp {
  margin : 10px 2px 2px 2px;
  padding: 5px 5px 5px 5px;
  width : 15px;
  height : 15px;
  border-radius: 3px;
}

.skill-img {
 // background : $c-black;
  width : 45px;
  height : 45px;
  border-style: none; 
}

.logo-img {
  border-style: none;
}

.skill {
  background : $c-black;
  width: 60px;
  height: 140px;
  border-radius: 30px 30px 0px 0px;
  padding: 5px;
  padding-bottom: 1px;
  margin-bottom: 1px;
}

.skill-text {
  color: $c-white;
  padding: 0px;
  margin:0px;
}

.skill-label {
  color: $c-white;
  padding: 1px;
  margin: 1px;
  margin-top: 10px;
  font-size: 95%;
  text-transform: uppercase;
}

.skill-label-offset {
  width: 50px;
  height: 65px;
}

.text-grey {
  color: $c-dim;
}

.trait {
  border : solid;
  border-color: $c-black;
}

.trait-name {
  background: $c-black;
  color: $c-white;
  font-weight: bold;
  text-transform: uppercase;
}

.trait-controls {
  background: $c-black;
  color: $c-white;
  font-weight: bold;
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}

.health {
  color: $c-black;
}

.lifeline-offset {
  position: relative;
  bottom: 15px;
}

.nomargin {
  margin: 0px;
}

.nopadding {
  padding: 0px;
}

.description {
  font-style: normal;
}

.togglable-description {
  font-style: normal;
}

.togglable-description:hover, .togglable-description:focus {
  cursor: pointer;
}